<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://web.whatsapp.com/favicon-64x64.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.6/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.6/plugin/customParseFormat.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="./style/style.css">
    <title>Boolzapp - Milestone 1</title>
</head>

<body>

    <div id="app" class="container p-3">
        <header>
            <div class="row">
                <div class="col-4 bg-wa d-flex justify-content-between align-items-center">
                    <section class="d-flex">
                        <img style="width: 70px;" class="rounded-circle"
                            :src="'./img/avatar' + data.user.avatar + '.jpg'" alt="User-chat">
                        <p class="fw-bold p-3">{{data.user.name}}</p>
                    </section>
                    <section class="d-flex">
                        <i class="fas fa-circle-notch fa-spin text-secondary p-2 cursor-pointer"
                            style="font-size: 25px;"></i>
                        <i class="fas fa-comment-alt text-secondary p-2 cursor-pointer" style="font-size: 25px;"></i>
                        <i class="fas fa-ellipsis-v text-secondary p-2 cursor-pointer" style="font-size: 25px;"></i>
                    </section>
                </div>
                <div :class="backgroundChat ? '' : 'header-default'"
                    class="col-8 p-3 bg-wa d-flex justify-content-between align-items-center">
                    <section v-for="(contact,index) in data.contacts" v-if="showChat(index) && backgroundChat"
                        class="d-flex">
                        <img style="width: 70px;" class="rounded-circle" :src="'./img/avatar' + contact.avatar + '.jpg'"
                            alt="User-chat">
                        <div class="p-3">
                            <p class="fw-bold m-0">{{contact.name}}</p>
                            <h6 v-if="writeChat" class="m-0">Sta scrivendo...</h6>
                            <h6 v-else class="m-0">{{contact.access}}</h6>
                        </div>
                    </section>
                    <section v-if="backgroundChat" class="d-flex align-items-center">
                        <i v-if="searchChatMessage" class="fas fa-search p-1"></i>
                        <input class="h-50" type="text" v-model.trim="searchChat" v-if="searchChatMessage"
                            placeholder="Cerca nella chat...">
                        <i @click="showSearchChat" class="fas fa-search text-secondary p-2 cursor-pointer"
                            style="font-size: 25px;"></i>
                        <i class="fas fa-paperclip text-secondary p-2 cursor-pointer" style="font-size: 25px;"></i>
                        <i class="fas fa-ellipsis-v text-secondary p-2 cursor-pointer" style="font-size: 25px;"></i>
                    </section>
                </div>
            </div>
        </header>
        <main>
            <div class="row">
                <div class="col-4">
                    <div class="row">
                        <div class="col-12 p-3 bg-notify d-flex">
                            <div class="bell rounded-circle bg-white text-info" style="width: 50px; height: 50px;">
                                <i class="fas fa-bell-slash p-3"></i>
                            </div>
                            <div class="notify-info ms-1">
                                <p class="m-0 fw-bold">Ricevi notifiche di nuovi messaggi</p>
                                <p class="text-decoration-underline m-0">Attiva notifiche desktop</p>
                            </div>
                        </div>
                        <div class="col-12 p-3 bg-wa d-flex align-items-center">
                            <i class="fas fa-search p-1"></i>
                            <input type="text" v-model.trim="search" class="w-100"
                                placeholder="Cerca o inizia una nuova chat">
                        </div>
                        <!-- Start user list chat -->
                        <div class="container-fluid bg-wa overflow-auto shadow" style="height: 600px;">
                            <div class="row">
                                <div id="contact" v-for="(contact, index) in data.contacts"
                                    v-if="showItem(contact.name)"
                                    :class="currentIndex === index && backgroundChat ? 'active' : ''"
                                    class="col-12 p-2 cursor-pointer" @click="addIndex(index)">
                                    <section class="d-flex">
                                        <img style="width: 70px;" class="rounded-circle"
                                            :src="'./img/avatar' + contact.avatar + '.jpg'" alt="User-chat">
                                        <div class="user-info-list mx-2 d-flex flex-column align-items-center">
                                            <p class="fw-bold m-0 align-self-start">{{contact.name}}</p>
                                            <div class="text-icon d-flex">
                                                <i class="fas fa-check text-info align-self-center"></i>
                                                <p class="fst-italic m-0 mx-2">
                                                    {{contact.messages[contact.messages.length -
                                                    1].message}}
                                                </p>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="row">
                        <!-- Chat -->
                        <div v-for="(contact,index) in data.contacts" v-if="showChat(index)"
                            :class="backgroundChat ? 'bg-chat' : 'bg-default'" class="col-12 overflow-auto p-3">
                            <div class="container p-5">
                                <div class="row flex-column">
                                    <div id="chat" v-if="showChatMessage(message.message) && backgroundChat"
                                        v-for="(message,index) in contact.messages" :class="userOrCpu(message.status)"
                                        class="col-4 px-4 mt-3">
                                        <div class="option text-end me-2">
                                            <i @click="editMessage(index)"
                                                class="fas fa-ellipsis-h ms-auto cursor-pointer"></i>
                                        </div>
                                        <div v-if="editChat && index === currentIndexChat"
                                            class="alert alert-danger m-0" role="alert">
                                            <ul @click="clearMessage(index)" class="m-0 list-unstyled cursor-pointer">
                                                <li><i class="far fa-trash-alt text-danger p-2"></i><b>Delete</b>
                                                </li>
                                            </ul>
                                        </div>
                                        <div v-else class="chat-message ms-2">
                                            <p class="fw-light m-0">{{message.message}}</p>
                                        </div>
                                        <div class="timestamp text-end me-2">
                                            <time style="font-size: 12px;">{{message.date}}</time>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 bg-wa p-3 d-flex justify-content-around align-items-center text-center"
                            style="min-height: 90px;" v-if="backgroundChat">
                            <div class="col-1">
                                <i class="far fa-smile fa-2x text-secondary cursor-pointer"></i>
                            </div>
                            <div class="col">
                                <input type="text" @keyup.enter="addList" class="w-100 p-3" v-model.trim="message"
                                    placeholder="Scrivi un messaggio">
                            </div>
                            <div class="col-1">
                                <i class="fas fa-microphone fa-2x text-secondary cursor-pointer"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>


    <script src="./js/data.js"></script>
    <script src="./js/script.js"></script>
</body>

</html>