body {
    background: -webkit-gradient(linear, left top, left bottom, from(#128C7E), to(#ECE5DD)) fixed;
    font-family: Arial, Helvetica, sans-serif;
}

.bg-wa{
    background-color: #ECE5DD;
}

.bg-notify{
    background-color: #8edafc;
}

.bg-chat{
    background-image: url('../img/mine.jpg');
    height: 650px;
}

.bg-user{
    background-color: #d5f9ba;
}

.bg-cpu{
    background-color: #fff;
}

.cursor-pointer{
    cursor: pointer;
}

.active{
    background-color: rgba(0, 0, 0, 0.1);
}

#contact:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

#chat{
    border-radius: 50px;
    box-shadow: 3px 1px 10px 3px rgba(0,0,0,0.5)
}